html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: rgb(12, 12, 12);
  font-family: sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.movies-container {
  display: grid;
  width: 100%;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 20px;
}
.buttons-container {
  display: grid;
  width: 100%;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 20px;
  user-select: none;
}
.genre-dropbox-button {
  position: relative;
  border: none;
  width: 300px;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: rgb(39, 39, 39);
  box-shadow: inset 0 0 10px black, 8px 8px 5px rgb(0, 0, 0);
  color: white;
  z-index: 3;
}

.genre-dropbox-button:active {
  background-color: rgb(44, 44, 44);
}
.genre-dropbox-container {
  position: relative;
}
.genres-dropbox {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 95%;
  top: 22px;
  right: 50%;
  transform: translate(50%, 0);
  color: rgb(255, 255, 255);
  background-color: rgb(77, 73, 73);
  z-index: 2;
  overflow: hidden;
  box-shadow: inset 0 0 10px black, 2px 2px 3px rgb(0, 0, 0);
  transition: height 400ms;
}

.show {
  height: 520px;
}
.hide {
  height: 0px;
}

.placeholder-button {
  border: none;
  width: 300px;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(39, 39, 39);
  transition: background-color 100ms;
  box-shadow: inset 0 0 10px black, 8px 8px 5px rgb(0, 0, 0);
  color: white;
}
