.genreDropboxItem {
  display: flex;
  background-color: rgb(39, 39, 39);
  box-shadow: inset 0 0 10px black, 0px 0px 2px rgb(0, 0, 0);
  color: white;
  z-index: 3;
  border: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  color: rgb(255, 255, 255);
  font-size: 20px;
  height: 25px;
  width: 93%;
}

.genreDropboxItem:active {
  background-color: rgb(44, 44, 44);
}
.genreDropboxItem:hover {
  background-color: rgb(31, 31, 31);
}
